@import "../variables.scss";
@import "../mixins.scss";

.spinner {
  visibility: hidden;
  display: none;
}

.button {
  @include default-transition(all);

  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  
  font-family: sans-serif;
  line-height: 1.5rem;
  min-width: 4rem;
  text-align: center;
  position: relative;
  outline: none;
  font-family: 'Proxima Nova';

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  div[type="spinner"] {
    position: absolute;
    left: 50%;
    margin-left: -0.5rem;
    top: 0.5rem;
  }
}


.contentVisible {
  visibility: visible;
}

.contentHidden {
  visibility: hidden;
}

.sm {
  font-size: 0.875rem;
  padding: 0.2rem 0.75rem;
  border-radius: 0.2rem;
}

.md {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.25rem;
}


.success {
  @extend .button;
  background: $main-color;
  color: white;
  border: 1px solid $main-color-focused;

  @include spinner($main-color, white);

  &:hover:not(:disabled) {
    background: $main-color-hovered;
    @include spinner-color($main-color-hovered);
  }

  &:focus {
    background: $main-color-focused;
    @include spinner-color($main-color-focused);
  }
}

.danger {
  @extend .button;
  background: $danger-400;
  color: white;
  border: 1px solid $danger-400;
  @include spinner($danger-400, white);

  &:hover:not(:disabled){
    background: $danger-200;
    @include spinner-color($danger-200);
  }

  &:focus {
    background: $danger-600;
    @include spinner-color($danger-600);
  }
}
.grey {
  @extend .button;
  background: $grey-hovered;
  color: $text-color;
  border: 1px solid $grey-hovered;
  @include spinner($grey-hovered, $text-color);

  &:hover:not(:disabled) {
    background: $grey;
    @include spinner-color($grey);
  }

  &:focus {
    background: $grey;
    border: 1px solid $grey;
    @include spinner-color($grey);
  }
}

.primary {
  @extend .button;
  background: $blue-400;
  color: white;
  border: 1px solid $blue-400;
  @include spinner($blue-400, white);

  &:hover:not(:disabled) {
    background: $blue-200;
    @include spinner-color($blue-200);
  }

  &:focus {
    background: $blue-600;
    @include spinner-color($blue-600);
  }
}

.transparent {
  background: white;
  &.success {
    @include transparentize($main-color, white, $main-color-hovered, $main-color-focused);
  }

  &.danger {
    @include transparentize($danger-400, white, $danger-200, $danger-600);
  }

  &.primary {
    @include transparentize($blue-400, white, $blue-200, $blue-600);
  }

  &.grey {
    @include transparentize($text-color, $text-color, $grey, $grey);
  }
}