@import "../variables";
@import "../mixins";


.chip-container {
  background: white;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.1em 0.2em 0.1em 0.1em;

  .chips-list {
    display: flex;
    flex-wrap: wrap;
  }

  .chip-input {
    border: none;
    background-color: transparent;
    flex-grow: 1;

    &:focus {
      outline: none;
    }
  }

  .chip {
    background-color: $chip-green;
    border-radius: 2px;
    padding: 0.1em 0.3em 0.1em 0.5em;
    margin: 0.15em;
    color: $main-color;
    font-family: Proxima Nova;
    font-size: 14px;

    .close-button {
      background-color: transparent;
      border: none;
      margin-left: 0.1em;
      vertical-align: middle;
      cursor: pointer;
      padding-top: 0.1em;
      outline: none;
    }
  }
}

