$color-white-1: #ffffff;
$color-white-2: #eaeaea;

$color-black-opacity: rgba(0, 0, 0, 0.54);

$color-gray-active: #838383;
$color-gray-inactive: #d1d6de;
$color-gray-opacity: rgba(51, 51, 51, 0.54);
$color-gray-dark-2: #333333;
$color-gray-dark-1: #4b4b4b;

.project-detail__milestone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-detail__button {
  margin-right: 3em;
  cursor: pointer;
  color: $color-gray-dark-2;
  text-decoration: none;
  padding: 0.6em 2em 0.6em 2em;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: all 0.2s ease 0.1s;

  &:hover {
    background: #1fbf63;
    color: white;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
  }
}

.project-detail__title {
  margin-bottom: 6em;
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: $color-gray-dark-2;
}

.pdp-engagement-model__container {
  margin-bottom: 1.8em;
  width: 40em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pdp-type__container {
  width: 40em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16em;
}

.pdp-select {
  width: 25em;
  padding: 0.7em 1em 0.7em 0.8em;
  background: $color-white-1;
  border: 1px solid $color-gray-inactive;
  border-radius: 4px;
}

.pdp-label {
  font-size: 14px;
  color: $color-gray-dark-2;
}

.project-detail__project-name {
  font-family: "Proxima Nova Black";
  font-size: 2.8em;
  color: $color-gray-dark-2;
}

.project-details__title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.project-details__project {
  font-size: 28px;
  margin-right: 5px;
}

.project-details__sub-header {
  margin-bottom: 1.8em;
}

.project-details__spent {
  font-size: 14px;
  margin: 0 1rem;
  b {
    font-weight: bold;
  }
}

.project__input {
  margin-bottom: 1rem;
}