@import '../variables';
@import '../mixins';

.radio-input {
  display: none;
}

.form-label {
  font-size: 14px;
  line-height: 20px;
  padding-left: 21px;
  position: relative;
}

.radio-button {
  height: 16px;
  width: 16px;
  border: 1px solid $border-color;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 0;

  &::after {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-gray-dark-2;
    opacity: 0;
    transition: opacity 0.1s;
  }
}

.radio-input:checked ~ .form-label .radio-button::after {
  opacity: 1;
}
