@import "../variables";
@import '../mixins.scss';

.chip {
  background-color: rgba($main-color, 0.2);
  border-radius: 0.15rem;
  padding: 0.16rem 0.3rem;
  margin: 0.15rem;
  color: $main-color;
  font-size: .9rem;

  .close-button {
    background-color: transparent;
    border: none;
    margin-left: 0.15rem;
    cursor: pointer;
    padding-top: 0.1rem;
    outline: none;

    i {
      font-weight: 100;
      font-size: 0.75rem;
    }

    @include default-font();
  }
}

