@import "../variables.scss";
@import "../mixins.scss";

.toast {
  position: fixed;
  padding: 0.875rem 1.25rem;
  color: white;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  min-width: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  button {
    @include default-transition(opacity);
    opacity: 0.6;
    outline: none;
    cursor: pointer;
    i {
      font-size: 1rem;
    }
    &:hover {
      opacity: 1;
    }
  }
  @include default-font();
}

.danger {
  @extend .toast;
  background: $danger-400;
}

.success {
  @extend .toast;
  background: $main-color;
}

.message {
  display: inline-flex;
  align-items: center;
  width: 80%;
}

.info {
  @extend .toast;
  background: $blue-400;
}