@import "../variables.scss";
@import "../mixins.scss";

.toast {
  position: fixed;
  padding: 0.875rem 1.25rem;
  color: white;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  @include default-font();
}

.danger {
  @extend .toast;
  background: $danger-400;
}

.success {
  @extend .toast;
  background: $main-color;
}

.info {
  @extend .toast;
  background: $blue-400;
}