.setting-container {
  label {
    margin-bottom: 10px;
  }

  .footer-settings_form {
    margin-top: 20px;
    border-top: 1px solid #E3E6ED;
    width: 350px;
  }

  .dropdown-block {
    width: 250px;

    .select-component {
      width: 100%;
    }
  }
}