.details-page {
    height: 100%;

    .content-page {
        height: calc(100% - 78px);
    }
}

.container-sales-content {
  padding: 0 60px;
  overflow-x: hidden;
}

.header-sales-content {
    padding: 0 15px;
}