$text-color: #333;
$text-color-disabled: #A2A4A7;

$black-200: #303030;

$text-color-200: #79818D;
$text-color-100:  #BCC0C6;

$main-color: #61B16F;
$main-color-focused: #65A771;
$main-color-hovered: #6FB87C;

$chip-green: #61b16f33;

$disabled-color: #AFB1B7;

$grey: #C6CCD5;
$grey-hovered: #E1E6EE;
$grey-focused: #CACFD7;
$grey-disabled: #E6E9EE;
$grey-200: #E2E5EA;
$grey-100: #F0F0F0;


$danger-400: #EB5757;
$danger-200:  #ED6868;
$danger-600: #D64F4F;
$danger-100: #F5ABAB;

$blue-400: #2F80ED;

$border-color: #D1D6DE;
