$text-color: #333;
$text-color-disabled: #A2A4A7;

$main-color: #61B16F;
$main-color-focused: #65A771;
$main-color-hovered: #6FB87C;

$disabled-color: #AFB1B7;

$grey: #C6CCD5;
$grey-hovered: #E1E6EE;
$grey-focused: #CACFD7;
$grey-disabled: #E6E9EE;
$grey-200: #E2E5EA;


$danger-400: #EB5757;
$danger-200:  #ED6868;
$danger-600: #D64F4F;
$danger-100: #F5ABAB;