html, body, #root {
    height: 100%;
} 

.search-container_crm {
    input {
        min-width: 300px;
        min-height: 22px;
    }

    button {
        height: 36px;
    }
}

.page {
    height: 100%;
}

.search-button {
    border-color: #61B16F;
    padding: 4px 35px;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 0.25rem;
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.crm-page {
    min-height: 600px;
    padding-top: 36px;
}

.add-deal-button {
    float: right;
}

.tab-buttons {
    display: flex;
    align-items: center;

    button {    
        height: 30px;
        padding: 0 12px;
        border: none;
        background-color: #E9EEF2;
        border: 1px solid #e0dede;
        color: #333333;
        cursor: pointer;
    }

    .left-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .right-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .active {
        color: white;
        background-color: #61B16F;
        border: 1px solid #61A06C;
    }
}

.fz-16 {
    font-size: 16px !important;
    * {
        font-size: 16px;
    }
}