@import '../variables.scss';

.description {
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  width: 100%;
  min-width: 20rem;
  font-size: 1rem;
  resize: vertical;
  transition: 0.2s all;
  padding-top: 0.5rem;
  padding-left: 0.6rem;
  &::placeholder {
    color: $disabled-color;
  }

  &:focus {
    outline: none;
    border: 1px solid $main-color;
    &::placeholder {
      color: lighten($disabled-color, 5%);
    }
  }
}
