.css-1am488p-control, .css-90h91p-control {
  border-color: transparent !important;
  width: 100%;
}

.css-90h91p-control {
  min-height: 30px !important;
}

.css-1zrazk-control {
  border-color: #61B16F !important;
  min-height: 30px !important;
  width: 100%;
}

.css-tntsk8 {
  height: 25px;
}
