@import "../variables";
@import "../mixins";

.spinner {
  visibility: hidden;
  display: none;
}

.button {
  @include default-transition(all);
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 0.3rem 1rem;
  border-radius: 0.25rem;
  line-height: 1.5rem;
  min-width: 4rem;
  text-align: center;
  position: relative;
  outline: none;
  font-family: 'Proxima Nova';
  div[type="spinner"] {
    position: absolute;
    left: 50%;
    margin-left: -0.5rem;
    top: 0.5rem;
  }
  &:disabled {
    cursor: not-allowed;
  }
}


.contentVisible {
  visibility: visible;
}

.contentHidden {
  visibility: hidden;
}

.sm {
  font-size: 0.875rem;
  padding: 0.2rem 0.75rem;
  border-radius: 0.2rem;
}

.default {
  @extend .button;
  background: $main-color;
  color: white;
  border: 1px solid $main-color-focused;

  div[type="spinner"] {
    background: linear-gradient(to right,  rgba(white,1) 10%,rgba(white,0) 65%);
    &:before { 
      background: white;
    }
  
    &:after {
      background: $main-color;
    }
  }

  &:hover {
    background: $main-color-hovered;
    div[type="spinner"] {
      &:after {
        background: $main-color-hovered;
      }
    }
  }

  &:focus {
    background: $main-color-focused;
    div[type="spinner"] {
      &:after {
        background: $main-color-focused;
      }
    }
  }

  &:disabled {
    background: $disabled-color;
    border: 1px solid $disabled-color;
    div[type="spinner"] {
      &:after {
        background: $disabled-color;
      }
    }
  }
  

  
}

.transparent {
  @extend .button;
  background: transparent;
  color: $main-color;
  border: 1px solid $main-color;

  div[type="spinner"] {
    background: linear-gradient(to right,  rgba($main-color,1) 10%,rgba($main-color,0) 65%);
    &:before { 
      background: $main-color;
    }
  
    &:after {
      background: white;
    }
  }

  &:hover {
    background: $main-color-hovered;
    color: white;
    div[type="spinner"] {
      background: linear-gradient(to right,  rgba(white,1) 10%,rgba(white,0) 65%);
      &:before { 
        background: white;
      }
    
      &:after {
        background: $main-color-hovered;
      }
    }
  }

  &:focus {
    background: $main-color-focused;
    color: white;

    div[type="spinner"] {
      background: linear-gradient(to right,  rgba(white,1) 10%,rgba(white,0) 65%);
      &:before { 
        background: white;
      }
    
      &:after {
        background: $main-color-focused;
      }
    }
  }

  &:disabled {
    background: white;
    border: 1px solid $grey-disabled;
    color: $grey-disabled;
    div[type="spinner"] {
      background: linear-gradient(to right,  rgba($grey-disabled,1) 10%,rgba($grey-disabled,0) 65%);
      &:before { 
        background: $grey-disabled;
      }
    
      &:after {
        background: white;
      }
    }
  }
}

.grey {
  @extend .button;
  background: transparent;
  color: $text-color;
  border: 1px solid $grey-hovered;

  div[type="spinner"] {
    background: linear-gradient(to right,  rgba($text-color,1) 10%,rgba($text-color,0) 65%);
    &:before { 
      background: $text-color;
    }

    &:after {
      background: white;
    }
  }

  &:hover {
    background: $grey-hovered;

    div[type="spinner"] {
      &:after {
        background: $grey-hovered;
      }
    }
  }

  &:focus {
    background: $grey-focused;
    border: 1px solid $grey-focused;

    div[type="spinner"] {
      &:after {
        background: $grey-focused;
      }
    }
  }

  &:disabled {
    background: $grey-disabled;
    color: $disabled-color;
    div[type="spinner"] {
      &:after {
        background: $grey-hovered;
      }
    }
  }
}

.grey-filled {
  @extend .button;
  background: $grey-hovered;
  color: $text-color;
  border: 1px solid $grey-hovered;

  div[type="spinner"] {
    background: linear-gradient(to right,  rgba($text-color,1) 10%,rgba($text-color,0) 65%);
    &:before { 
      background: $text-color;
    }

    &:after {
      background: $grey-hovered;
    }
  }

  &:hover {
    background: $grey;

    div[type="spinner"] {
      &:after {
        background: $grey;
      }
    }
  }

  &:focus {
    background: $grey;
    border: 1px solid $grey;

    div[type="spinner"] {
      &:after {
        background: $grey;
      }
    }
  }

  &:disabled {
    background: $grey-disabled;
    color: $disabled-color;
    div[type="spinner"] {
      &:after {
        background: $grey-hovered;
      }
    }
  }
}

.danger {
  @extend .button;
  background: $danger-400;
  color: white;
  border: 1px solid transparent;

  div[type="spinner"] {
    background: linear-gradient(to right,  rgba(white,1) 10%,rgba(white,0) 65%);
    &:before { 
      background: white;
    }

    &:after {
      background: $danger-400;
    }
  }

  &:hover {
    background: $danger-200;

    div[type="spinner"] {
      &:after {
        background: $danger-200;
      }
    }
  }

  &:focus {
    background: $danger-600;

    div[type="spinner"] {
      &:after {
        background: $danger-600;
      }
    }
  }

  &:disabled {
    background: $danger-100;
    div[type="spinner"] {
      &:after {
        background: $danger-100;
      }
    }
  }
}

.simple {
  @extend .button;
  color: $text-color-200;
  padding-left: 0 !important;
  padding-right: 0 !important;
  &:after {
    @include default-transition(background);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.25rem;
    height: 1px;
    background: transparent;
  }

  &:hover {
    border-color: $text-color-200;
    &:after {
      background: $text-color-200;
    }
  }

  &:focus {
    color: $blue-400;
    &:after {
      background: $blue-400;
    }
  }

  &:disabled {
    color: $text-color-100;
    &:after {
      height: 0;
    }
  }
}