@import '../variables';
@import '../mixins.scss';

.cbx__wrap.dropdown {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  .cbx__indicator {
    padding: 0;
  }

  .cbx__indicator-separator {
    display: none;
  }

  .cbx__menu {
    margin-top: .2rem;
  }

  .cbx__control {
    height: 100%;
    min-height: 2rem;
    box-shadow: none;
    @include default-transition(all);
  }

  .cbx__option {
    &:hover {
      background-color: rgba($main-color, .6) !important;
      color: white;
    }

    &.cbx__option--is-focused {
      background-color: $main-color-hovered !important;
      color: white;
    }

    &.cbx__option--is-selected {
      background-color: $main-color-focused !important;
      color: white;
    }
  }

  &.selected {
    .cbx__control {
      border-style: solid;
    }
  }

  &.dropdown_default {

    .cbx__control {
      border: 1px solid $grey;
      &:hover {
        border-color: $main-color;
      }
    }

    .cbx__control--is-focused {
      border-color: $main-color;
    }
  }

  &.dropdown_borderless {
    border: none;
    border-width: 0;

    .cbx__control {
      border-color: transparent;
      &:hover {
        border-color: transparent;
      }
    }

    .cbx__control--is-focused {
      border-color: $main-color;

      &:hover {
        border-color: $main-color;
      }
    }
  }

  &.dropdown_underlined {
    border: none;
    border-width: 0;

    .cbx__control {
      border: 0;
      border-bottom: .1rem solid $grey-200;
      border-radius: 0;
    }

    .cbx__indicators {
      display: none;
    }

    .cbx__control--is-focused {
      border-color: $main-color;
    }

    input:disabled .cbx__control {
      border-color: $disabled-color;
    }
  }

  &.error-select {
    .cbx__control {
      border-style: solid;
      border-color: $danger-400;

      &:hover {
        border-color: $danger-400;
      }
    }
  }
}

.cbx__label {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  color: $text-color;
}

.disabled {
  cursor: not-allowed;
}
