.user-picker-list {
  top: -113%;
  position: absolute;
  background-color: white;
  z-index: 1000;
  width: 100%;
  min-height: 120px;
  max-height: 500px;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0 3px 7px rgba(gray, 0.6);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.4s;

  &.animate {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateY(-2px);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d1d6de;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f2f4;
  }

  &__header {
    display: flex;
    align-items: center;
    padding-left: 1em;
    height: 3.4em;
    font-size: 12px;
    color: #adafb3;
    background-color: #e7e9ed;
  }
}
