@import '../variables.scss';
@import '../mixins.scss';

.modal-wrapper {
  position: relative;
  z-index: 2000;
  background: #ffffff;
  border: 1px solid $border-color;
  margin: 0% auto;
  min-width: 20rem;
  width: 20%;
  border-radius: 0.25rem;
  padding: 1.625rem;
  opacity: 0;
  transform: scale(0.9);
  @include default-transition(all);
}

.modal-header {
  display: flex;
  justify-content: center;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}

.visible {
  opacity: 1;
  transform: scale(1);
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: -1;

  .button_modal {
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
    border: none;
    background: transparent;
  }
  @include default-transition(all);
}

.backdrop__visible {
  z-index: 2000000;
  background: rgba($text-color, .3);
}