.modal-wrapper {
  position: relative;
  z-index: 2000;
  background: #ffffff;
  border: 1px solid #d0cccc;
  box-shadow: 0 0.312rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.437rem 1.25rem 0 rgba(0, 0, 0, 0.17);
  margin: 0% auto;
  transition: all 0.8s;
  width: 20%;
  border-radius: 0.25rem;
  padding: 1.625rem;
}

.modal-header {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0.312rem 0;
  h3 {
    font-size: 1.5rem;
  }
}

.modal-body {
  text-align: center;
  margin-bottom: 1.87rem;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}

.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  transition: all 1.3s;
}
