.modal-wrapper {
  position: relative;
  z-index: 2000;
  background: #ffffff;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: -25% auto;
  transition: all 0.8s;
  width: 20%;
  border-radius: 4px;
  padding: 26px;
}

.modal-header {
  display: flex;
  justify-content: center;
  margin: 25px 0 5px 0;
  h3 {
    font-size: 24px;
  }
}

.modal-body {
  text-align: center;
  margin-bottom: 30px;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}

.close-modal-btn {
  color: white;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin: 0;
}

.close-modal-btn:hover {
  color: black;
}

.btn-cancel,
.btn-continue {
  border-radius: 4px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  padding: 10px 25px;
  width: 45%;
}

.btn-cancel {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  color: black;
  float: left;
}

.btn-continue {
  background: #eb5757;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  position: fixed;
  transition: all 1.3s;
}

.open-modal-btn {
  margin: 15px;
  padding: 10px;
  font-weight: bold;
}
