@import '../variables.scss';
.linkButton {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid $text-color-75;
  padding: 3px;
  cursor: pointer;

  &:hover {
    background-color: $grey-300;
  }

  svg {
    margin-bottom: -3px;
  }
}

.disabledLinkButton {
  @extend .linkButton;
  //   cursor: not-allowed;
  pointer-events: none;
  background-color: $grey-disabled;
}
