.heading-primary {
  font-size: 2.8em;
  color: $color-gray-dark-2;
  font-family: "Proxima Nova Black";
  font-weight: 700;
}

.heading-tertiarry {
  display: inline-block;
  font-size: 0.875rem;
  color: $color-gray-dark-2;
  font-family: "Proxima Nova";
  margin-bottom: 0.2rem;
}

.heading-secondary {
  font-family: "Proxima Nova";
  font-size: 24px;
}

.text-gray {
  font-size: 12px;
  line-height: 16px;
  color: $color-gray-opacity;
}
