.statuses-crm-list {
    display: flex;
    justify-content: center;

    p {
        font-size: 14px;
        padding: 12px 20px;

        &.success_status {
            color: #61B16F;
        }

        &.error_status {
            color: #EB5757;
        }

        &.default_status {
            color: #818A95;
        }
    }
}

.header-crm-list {
    border-top: 1px solid #f1f1f1;

    ul {
        display: flex;
        width: 100%;

        li {
            background-color: #F5F7FB;
            width: 25%;

            &:nth-child(n+2) {
                border-left: 1px solid #DFE5EF;
            } 

            div {
                padding: 10px;
                text-align: center;
            }
        }
    }
}