@import '../variables.scss';
.add-button {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: #1a1a1a;
  background: $main-color;
  border-radius: 50%;
  border: none;
  // transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
  //   transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  span {
    // content: '+';
    color: #fff;
    font-size: 2rem;
    line-height: 1.1em;
  }

  div[type='spinner'] {
    top: 2px;
    background: linear-gradient(
      to right,
      rgba(white, 1) 10%,
      rgba(white, 0) 65%
    );
    &:before {
      background: white;
    }

    &:after {
      background: $main-color;
    }
  }

  &:disabled {
    background: white;
    border: 1px solid $grey-disabled;
    color: $grey-disabled;
    div[type='spinner'] {
      background: linear-gradient(
        to right,
        rgba($grey-disabled, 1) 10%,
        rgba($grey-disabled, 0) 65%
      );
      &:before {
        background: $grey-disabled;
      }

      &:after {
        background: white;
      }
    }
  }
}

.popover {
  position: absolute;
  left: 3rem;
  font-size: 0.85rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
  background-color: $main-color;
  height: 2rem;
  min-width: 6rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(3px);
  transition: all 0.4s;

  &:before {
    transform: rotate(-90deg);
    content: '';
    border-style: solid;
    border-width: 0 1rem 1rem 1rem;
    border-color: transparent transparent $main-color transparent;
    position: absolute;
    top: 8px;
    left: -21px;
  }
}

.add-button:hover .popover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
