@import '../variables.scss';
.add-button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: #1a1a1a;
  background: $main-color;
  border-radius: 50%;
  border: none;
  // transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
  //   transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  &:after {
    content: '+';
    color: #fff;
    font-size: 2rem;
    line-height: 1.1em;
  }

  div {
    font-size: 0.85rem;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    background-color: $main-color;
    height: 2rem;
    min-width: 5rem;
    // padding: 0 1rem 0 1rem;
  }
}
