@import '../variables.scss';
.add-button {
  position: relative;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  color: #1a1a1a;
  background: $main-color;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  &:after {
    content: '+';
    color: #fff;
    font-size: 2rem;
    line-height: 1.1em;
  }
  &:hover {
    transform: rotate(45deg);
  }
}
