@import "../variables";
@import "../mixins";

.chip {
  background-color: rgba($main-color, 0.2);
  border-radius: 0.15rem;
  padding: 0.16em 0.3em 0.16em 0.5em;
  margin: 0.15em;
  color: $main-color;
  font-family: Proxima Nova;
  font-size: 14px;

  .close-button {
    background-color: transparent;
    border: none;
    margin-left: 0.15em;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 0.1em;
    outline: none;
  }
}

