@import "../variables.scss";
@import "../mixins.scss";

.participants {
  box-sizing: border-box;
  border-bottom: 1px solid $disabled-color;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  .chips-list {
    display: flex;
    flex-wrap: wrap;

    .input {
      flex-grow: 1;
      border: none;
      background: transparent;
      min-width: 8rem;
      outline: none !important;
      margin: 0.15rem;
    }
  }

  @include default-font();
}
