@import "./variables.scss";

@mixin default-transition($property) {
  transition: $property 0.2s ease-in;
}

@mixin default-font() {
  font-family: 'Proxima Nova';
}

@function calculateRem($size) {
  $remSize: $size / $root-font-size;
  @return #{$remSize}rem;
}

@mixin spinner-color($color, $bgColor) {
  div[type="spinner"] {
    background: linear-gradient(to right,  rgba($bgColor,1) 10%,rgba($bgColor,0) 65%);
    &:before { 
      background: $bgColor;
    }
  
    &:after {
      background: $color;
    }
  }
}

@mixin spinner-bg($color) {
  div[type="spinner"] {
    &:after {
      background: $color;
    }
  }
}