// @flow
import React from 'react';
import './{{ properCase name }}.module.scss';

const {{ properCase name }} = ()  => (
    <div className="{{ kebabCase name }}">
        Hello World!
        { /* TODO: render something */ }
    </div>
)

export default {{ properCase name }};