@import '../variables';
@import '../mixins';

.cbx__wrap {
  display: flex;
  flex-direction: column;

  .cbx__menu {
    margin-top: .2rem;
  }

  .no-results {
    color: $text-color-200;
    padding: 1rem;
    font-size: 1rem;
  }

  .cbx__dropdown-indicator {
    svg {
      display: none;
    }
  }

  .cbx__option {
    &:hover {
      background-color: rgba($main-color, .6) !important;
      color: white;
    }

    &.cbx__option--is-focused {
      background-color: $main-color-hovered !important;
      color: white;
    }

    &.cbx__option--is-selected {
      background-color: $main-color-focused !important;
      color: white;
    }
  }

  .label-combobox {
    color: $text-color-200;
    margin-bottom: 0.2rem;
  }

  &.error-select {
    .cbx__control {
      border-style: solid;
      border-color: $danger-400;
<<<<<<< HEAD
=======

      &:hover {
        border-color: $danger-400;
      }
>>>>>>> 63902903341895a69739b0d2b2052e5a6d4ea98f
    }
  }

  .error-text {
    color: $danger-400;
    margin-top: .3rem;
  }

  &.selected {
    .cbx__control {
      border-style: solid;
    }
  }

<<<<<<< HEAD
  .borderless_combobox {
    border-style: none;
    border: none;
    border-width: 0;
=======
  &.combobox_borderless {
    border-style: none;
    border: none;
    border-width: 0;

    .cbx__control {
      border: none;
    }

    .error-text {
      padding-left: 0.625rem;
    }
>>>>>>> 63902903341895a69739b0d2b2052e5a6d4ea98f
  }

  .cbx__indicators {
    span {
      display: none;
    }
  }

  .cbx__indicator {
    padding: 0;
  }

  .cbx__control {
    height: 100%;
    min-height: 2rem;
<<<<<<< HEAD
    border-color: $main-color !important;
    border-style: dashed;
    box-shadow: none;
  }

=======
    border-color: $main-color;
    border-style: dashed;
    box-shadow: none;

    &:hover {
      border-color: $main-color;
    }
  }

  .container-loader_combobox {
    padding: .8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      color: $text-color-200;
      font-size: .9rem;
      margin-left: .4rem;
    }
  }

  &.combobox_underlined {
    border-style: none;
    border: none;
    border-width: 0;

    .cbx__control {
      border: 0;
      border-bottom: .1rem solid $grey-200;
      border-radius: 0;
    }

    .cbx__indicators {
      display: none;
    }

    .cbx__control--is-focused {
      border-color: $main-color;
    }

    input:disabled .cbx__control {
      border-color: $disabled-color;
    }
  }


>>>>>>> 63902903341895a69739b0d2b2052e5a6d4ea98f
  .default {
    font-size: 1rem;
    color: #818a95;
    margin-bottom: 0.2rem;
  }
  
  .borderless {
    @extend .default;
    padding-left: 0.625rem;
  }
<<<<<<< HEAD
=======

  .underlined {
    @extend .default;
  }
>>>>>>> 63902903341895a69739b0d2b2052e5a6d4ea98f
}





