@import '../variables';
@import '../mixins';

.wrapper {
  display: flex;
  flex-direction: column;
}

.container-loader_combobox {
  padding: .8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  span {
    color: $text-color-200;
    font-size: .9rem;
    margin-left: .4rem;
  }
}

.no-results {
  color: $text-color-200;
  padding: 1rem;
  font-size: 1rem;
}

.default {
  font-size: 1rem;
  color: #818a95;
  margin-bottom: 0.2rem;
}

.borderless {
  @extend .default;
  padding-left: 0.625rem;
}