@import "../variables.scss";
@import "../mixins.scss";

.cbx__wrap {
  display: inline-block;
  height: 2rem;
  min-width: 15rem;

  .label-combobox {
    color: $text-color-200;
    margin-bottom: 0.2rem;
  }

  &.error-select {
    .css-bg1rzq-control, .css-1szy77t-constrol, .cbx__control {
      border-style: solid !important;
      border-color: $danger-400 !important;
    }
  }

  .error-text {
    color: $danger-400;
    margin-top: .3rem;
  }

  &.selected {
    .css-bg1rzq-control, .css-1szy77t-constrol, .cbx__control {
      border-style: solid !important;
    }
  }

  .container-loader_combobox {
    padding: .8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      color: $text-color-200;
      font-size: .9rem;
      margin-left: .4rem;
    }
  }


  .css-16pqwjk-indicatorContainer {
    padding: 0;
  }

  .css-1wy0on6 {
    span {
      display: none;
    }
  }

  .cbx__indicator {
    padding: 0;
  }

  .css-1pcexqc-container {
    height: 100%;

    .css-bg1rzq-control, .css-1szy77t-constrol, .cbx__control {
      height: 100%;
      min-height: 2rem;
      border-color: $main-color;
      border-style: dashed;
      box-shadow: none;
    }
  }
}

.select {

  .cbx__control {
    color: red;
    height: 100%;
  }

/* TODO: Place your component styles here */
}
