.milestone-add {
  min-width: 1200px;
  font-size: 14px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 1.2rem;
  }

  .delete-button {
    margin-right: 3rem;
    cursor: pointer;
    color: #333333;
    text-decoration: none;
    padding: 0.6rem 2rem 0.6rem 2rem;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: all 0.2s ease 0.1s;

    &:hover {
      background: red;
      color: white;
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transform: translateY(0);
    }
  }

  .sub-header {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;

    .estimation-type-wrapper {
      display: flex;
      align-items: center;

      .estimation-type-title {
        margin-right: 5px;
      }

      .estimation-type-count {
        margin-right: 5px;
      }
      .estimation-input {
        padding-left: 5px;
        width: 4.8rem;
        height: 2.4rem;
        border: 1px solid #d1d6de;
        border-radius: 4px;

        &:focus {
          outline: none;
          border: 1px solid #838383;
        }
      }
    }
  }

  .tasks-button {
    margin-right: 3rem;
    cursor: pointer;
    color: #333333;
    text-decoration: none;
    padding: 0.6rem 2rem 0.6rem 2rem;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: all 0.2s ease 0.1s;

    &:hover {
      background: #1fbf63;
      color: white;
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transform: translateY(0);
    }
  }

  .form {
    display: flex;
    justify-content: space-between;
  }

  .save-button {
    color: white;
    background: #219653;
    border-radius: 4px;
    border: none;
    margin-right: 1.4rem;
    padding: 0.6rem 3.6rem;
    transition: all 0.2s ease 0.1s;

    &:hover {
      background: #1fbf63;
      color: #fcfcfc;
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transform: translateY(0);
    }
  }

  .description {
    padding-top: 5px;
    padding-left: 5px;
    height: 94%;
    width: 100%;
    resize: none;
    background: #ffffff;
    border: 1px solid #d1d6de;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }
}
