.project__item {
  cursor: pointer;
  padding: 2em;
  margin-bottom: 1em;
  background: #ffffff;
  border: 1px solid #eaeaea;
  // box-shadow: 0px 2px 3px #f4f4f4;
  border-radius: 4px;
  display: flex;
  flex-basis: auto;
  justify-content: space-between;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
  }

  &-header {
    font-size: 2em;
    display: inline-block;
    margin-bottom: 1.2rem;
    color: #333333;
    font-weight: bold;
  }

  &-description {
    font-size: 1.4em;
    color: #333333;
    margin-bottom: 1.2rem;
    overflow-wrap: break-word;
  }

  &-manager {
    margin-bottom: 1.2rem;
    font-size: 1.4em;
    color: #333333;
  }

  &-manager-name {
    font-weight: bold;
  }

  &-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-type {
    display: flex;
    justify-content: flex-end;
  }

  &-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-icon {
    width: 1.5em;
    height: 1.5em;
    color: #c1c1c1;
  }

  &-hours {
    margin-left: 0.5em;
  }
}
