.search-list-block {
  .select-details {


    .css-bg1rzq-control {
      border-radius: 4px;
      min-width: 100%;
      border: 1px solid #61B16F;
    }

    .css-1szy77t-control {
      border: 1px solid #ce6425;
      box-shadow: none;
    }
  }
}

.form-create-crm {
  textarea:focus, input:focus {
    border-color: transparent;
  }
}