@import "../variables";
@import "../mixins";

.input {
  font-size: 0.875rem;
  color: $text-color;
  font-family: inherit, sans-serif;
  line-height: 1.5rem;
  input {
    @include default-transition(all);
    padding: 0.375rem 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    width: 100%;
    outline: none;
    &::placeholder {
      color: $disabled-color;
    }

    &:focus {
      &::placeholder {
        color: lighten($disabled-color, 5%);
      }
    }

    &:disabled {
      background: $grey-disabled;
      cursor: not-allowed;
    }
  }
}

.default {
  @extend .input;
  input {
    border: 1px solid $grey;
    border-radius: 0.25rem;
    &:focus {
      border-color: $main-color;
    }
  }
}

.borderless {
  @extend .input;
  input {
    border: 0;
    border-bottom: 2px solid $grey-200;
    &:focus {
      border-color: $main-color;
    }
    &:disabled {
      border-color: $disabled-color;
    }
  }
}

.error {
  input {
    border-color: $danger-400;
    &:focus {
      border-color: darken($danger-400, 5%);
    }
  }
}

.wrap {
  position: relative;
}

.clear {
  @include default-transition(background);
  position: absolute;
  right: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  top: 0.45rem;

  &:hover {
    background: rgba($grey, .5);
  }
}

.icon {
  position: absolute;
  color: $grey;
  font-size: 1.25rem;
  left: 0.25rem;
  top: 0.45rem;
}

.paddingLeft {
  input {
    padding-left: 2.25rem;
  }
}