$color-white-1: #ffffff;
$color-white-2: #eaeaea;

$color-black-opacity: rgba(0, 0, 0, 0.54);

$color-gray-active: #838383;
$color-gray-inactive: #d1d6de;
$color-gray-opacity: rgba(51, 51, 51, 0.54);
$color-gray-dark-2: #333333;
$color-gray-dark-1: #4b4b4b;
