// @flow
import React, { Component, type AbstractComponent } from 'react';
import { connect } from 'react-redux';

import './{{ properCase name }}.module.scss';

// OwnProps refers to the props that were passed down by the parent.
type OwnProps = {||};

// Props created from OwnProps plus the props passed in by mapStateToProps and mapDispatchToProps
type Props = {|
...OwnProps
|};

export class {{ properCase name }} extends Component<Props> {
    render() {
        return (
        <div className="{{ kebabCase name }}">
            {/* TODO: write rest of ${name} container */}
        </div>
        )
        }
    };

    const mapStateToProps = state => ({});

    const mapDispatchToProps = dispatch => ({});

    export default (connect(mapStateToProps, mapDispatchToProps)({{ properCase name }}):AbstractComponent<OwnProps>);