.task-add {
  font-size: 14px;
  min-width: 1200px;

  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }

  .body {
    display: flex;
    justify-content: space-between;

    &__left {
      width: 45%;

      .textarea-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        textarea {
          padding-top: 5px;
          padding-left: 5px;
          height: 30vh;
          width: 100%;
          background: #ffffff;
          border: 1px solid #d1d6de;
          border-radius: 4px;

          &:focus {
            outline: none;
          }
        }
      }

      .select-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;
        .select {
          cursor: pointer;
          width: 100%;
          height: 3.8rem;
          border: 1px solid #d1d6de;
          border-radius: 4px;
          transition: all 0.2s;

          &:required:invalid {
            padding-left: 7px;
            font-size: 14px;
            color: rgba(#333333, 0.4);
          }

          option[value=""][disabled] {
            display: none;
          }

          option {
            color: black;
          }

          &:hover {
            border: 1px solid #838383;
          }

          &:focus {
            outline: none;
            border: 1px solid #838383;
          }
        }
      }
    }

    &__right {
      width: 45%;
    }
  }
}
