@font-face {
  font-family: "proxima_novablack";
  src: url("ProximaNova-Black.woff") format("woff"),
    url("ProximaNova-Black.eot") format("eot"),
    url("ProximaNova-Black.ttf") format("ttf");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "proxima_novabold";
  src: url("ProximaNova-Bold.woff") format("woff"),
    url("ProximaNova-Bold.eot") format("eot"),
    url("ProximaNova-Bold.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novaregular";
  src: url("ProximaNova-Regular.woff") format("woff"),
    url("ProximaNova-Regular.eot") format("eot"),
    url("ProximaNova-Regular.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

//Abstracts
@import "abstracts/variables.scss";
@import "abstracts/mixins.scss";

//Base
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/_utilites";

//layout
@import "layout/navigation";

//components
@import "components/addListItemButton";
@import "components/milestone";
@import "components/listItem";
@import "components/itemInput";
@import "components/text-editor";
@import "components/switch";
@import "components/user-picker/list";
@import "components/user-picker/user-picker";
@import "components/user-picker/user";
